<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @advertiser.username %>
</p>

<p>
  <b>Uid:</b>
  <%= @advertiser.uid %>
</p>

<p>
  <b>Image url:</b>
  <%= @advertiser.image_url %>
</p>


<%= link_to 'Edit', edit_advertiser_path(@advertiser) %> |
<%= link_to 'Back', advertisers_path %>
