<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :redeemed %><br />
    <%= f.check_box :redeemed %>
  </div>
  <div class="field">
    <%= f.label :deal_id %><br />
    <%= f.number_field :deal_id %>
  </div>
  <div class="field">
    <%= f.label :followers %><br />
    <%= f.number_field :followers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
