<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @coupon.user_id %>
</p>

<p>
  <b>Redeemed:</b>
  <%= @coupon.redeemed %>
</p>

<p>
  <b>Deal:</b>
  <%= @coupon.deal_id %>
</p>

<p>
  <b>Followers:</b>
  <%= @coupon.followers %>
</p>


<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
