<div class="background_container">
  <%= image_tag('podcast.svg') %>
  <%= link_to 'Are you a business? Sign in here', advertiser_sign_in_url, class: 'sign_in' %>
<header>
	<h1 id="headline">Get your coupons</h1>
</header>

<% if current_authorized_user %>
	<p>@<%= current_authorized_user.username %> | <%= link_to 'Sign Out', signout_url, method: :delete %></p>
<% else %>
	<p><%= link_to 'Sign in with Twitter', '/auth/twitter', class: 'signin_btn' %></p>
<% end %>

</div>

<script>

  $.backstretch([
        "<%= asset_path 'bg_shoe_store.jpg' %>"
      , "<%= asset_path 'bg_coffee_shop.jpeg' %>"
      , "<%= asset_path 'bg_dark_bar.jpg' %>"
      , "<%= asset_path 'bg_donut.jpg' %>"
      , "<%= asset_path 'bg_goose_island.jpg' %>"
    ], {duration: 3000, fade: 750});

	$("#headline").fitText();

</script>