<div class="background_container">
  <nav>
    <%= image_tag('bird.svg') %>
    <%= link_to 'Are you a business? Sign in here', advertiser_sign_in_url, class: 'sign_in' %>
  </nav>
  <header>
  	<h1 id="headline">Go Branch Out</h1>
    <h2 id="tagline">Share the best deals with your friends</h2>
  </header>

  <% if current_authorized_user %>
  	<p>@<%= current_authorized_user.username %> | <%= link_to 'Sign Out', signout_url, method: :delete %></p>
  <% else %>
  	<p><%= link_to 'Sign in with Twitter', '/auth/twitter', class: 'signin_btn' %></p>
  <% end %>

</div>

<script>

  $.backstretch([
        "<%= asset_path 'bg_restaurant.jpg' %>"
      , "<%= asset_path 'bg_coffee.jpg' %>"
      , "<%= asset_path 'bg_gym.jpg' %>"
      , "<%= asset_path 'bg_spa.jpg' %>"
      , "<%= asset_path 'bg_hotel.jpg' %>"
      , "<%= asset_path 'bg_bar.jpg' %>"
    ], {duration: 3000, fade: 750});

	$("#headline").fitText();

</script>