<div class="background_container">

<header>
	<h1 id="headline">Help Your Fans Spread the Word</h1>
</header>
<%= image_tag('podcast.svg') %>

<% if current_authorized_user %>
	@<%= current_authorized_user.username %> | <%= link_to 'Sign Out', signout_url, method: :delete %>
<% else %>
	<%= link_to 'Sign in with Twitter', '/auth/twitter', class: 'signin_btn' %>
<% end %>

</div>

<script>

  $.backstretch([
        "<%= asset_path 'bg_shoe_store.jpg' %>"
      , "<%= asset_path 'bg_coffee_shop.jpeg' %>"
      , "<%= asset_path 'bg_dark_bar.jpg' %>"
      , "<%= asset_path 'bg_donut.jpg' %>"
      , "<%= asset_path 'bg_goose_island.jpg' %>"
    ], {duration: 3000, fade: 750});

	$("#headline").fitText();

</script>