<p>Select your background image by one of the following ways:</p>
<ol>
    <%= s3_uploader_form post: images_url, as: "image[image_url]" do %>
      <li>
        <span>Upload an image: </span>
        <%= file_field_tag :file, multiple: true %></li>
    <% end %>
<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>
</p>
<% if @images.any? %>
  <li>
    <span>Or use a picture you've already uploaded: </span>
<% end %>
  <ul class="images_to_select">
    <% if @images.any? %>
      <% @images.each do |image| %>
        <li class="pull-left">
          <%= image_tag image.image_url, id: "bg_image_#{image.id}" %>
          <p><%= link_to 'Preview', '#', class: 'preview' %> | <%= link_to 'Select', '#', class: 'select' %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</li>
  <li>
    <span>Don't have a great pic? No worries. Use one of ours. </span>
    <ul class="images_to_select">
      <% @default_images.each do |image| %>
      <li class="pull-left">
        <%= image_tag image.image_url, id: "bg_image_#{image.id}" %>
        <p><%= link_to 'Preview', '#', class: 'preview' %> | <%= link_to 'Select', '#', class: 'select' %></p>
      </li>
      <% end %>
    </ul>
  </li>
  </ol>
</div>
<div class="deal_details_container hide">
	<div class="deal_inner deal_details">
  <h1><%= current_authorized_user.business_name %></h1>
  <%= render 'form' %>
	</div>
	<div class="deal_inner hide deal_starter_tweet">
	  <p>Congrats, your deal is now live! Send a tweet to your followers to let them know about the deal.</p>
	  <%= form_tag(tweet_url) do %>
    <%= text_area_tag :tweet, nil, rows: '6', class: 'deal_description', placeholder: 'Enter starter tweet' %>
    <p><span class="countdown_tweet">140</span></p>
    <%= submit_tag 'Tweet to start the deal!', class: 'orange_btn', id: 'tweet_button' %>
  <% end %>
</div>