<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>
      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field offer">
    <%= f.text_field :coupon_text, class: 'offer_text', placeholder: 'Enter your offer' %>
  </div>
  <div class="field description">
    <%= f.text_area :description, rows: '6', class: 'deal_description', placeholder: 'Enter a description of your deal' %>
  </div>
  <div class="field date">
    <%= f.text_field :end_date, placeholder: 'Select an end date', class: 'deal_end_date' %>
  </div>
  <div class="field">
    <%= f.text_area :sample_tweet, rows: '6', class: 'deal_description', placeholder: 'Enter sample tweet' %>
  </div>
  <%= f.hidden_field :image_id %>
  <div class="actions">
    <%= f.submit 'Start Deal' %>
  </div>
<% end %>
