<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <p class="red"><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</p>
      <% @deal.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <br/>
    </div>
  <% end %>
  <div class="field offer">
    <%= f.label :your_offer %>
    <%= f.text_field :coupon_text, class: 'offer_text', placeholder: 'Free Appetizer' %>
  </div>
  <div class="field description">
    <%= f.label :description_of_your_offer %>
    <%= f.text_area :description, rows: '6', class: 'deal_description', placeholder: 'Come in to our resturant for a free appetizer...' %>
  </div>
  <div class="field date">
    <%= f.label :offer_end_date %>
    <%= f.text_field :end_date, placeholder: 'When is your offer valid until', class: 'deal_end_date' %>
  </div>
  <div class="field">
    <%= f.label :suggested_tweet_for_your_customers_to_share %>
    <p class="explain_label">Your customer will tweet this to get your offer.<br>
                              A link to the deal will be added to the end of the tweet.</p>
    <%= f.text_area :sample_tweet, rows: '6', class: 'deal_tweet', placeholder: 'Enter a tweet for your customers to share' %>
    <p><span class="countdown_deal_sample_tweet">140</span>
  </div>
  <%= f.hidden_field :image_id %>
  <div class="actions">
    <% if action_name != 'edit' %>
      <%= f.submit 'Start Deal', id: 'start_deal' %>
    <% else %>
      <%= f.submit 'Update Deal' %>
    <% end %>
  </div>
<% end %>

<script>

  $(function(){
    function updateCountdown() {
      // 140 is the max message length
      var remaining = 140 - $('#tweet').val().length;
      if (remaining <= 10){
        $('.countdown_tweet').css('color', 'red');
      }
      else {
        $('.countdown_tweet').css('color', 'white');
      }
      if (remaining < 0){
        $('#tweet_button').attr('disabled', true);
      }
      else {
        $('#tweet_button').attr('disabled', false);
      }
      $('.countdown_tweet').text(remaining);
    }

    function updateCountdownSample() {
      // 120 is the max message length
      var remaining = 120 - $('#deal_sample_tweet').val().length;
      if (remaining <= 10){
        $('.countdown_deal_sample_tweet').css('color', 'red');
      }
      else {
        $('.countdown_deal_sample_tweet').css('color', 'white');
      }
      if (remaining < 0){
        $('#start_deal').attr('disabled', true);
      }
      else {
        $('#start_deal').attr('disabled', false);
      }
      $('.countdown_deal_sample_tweet').text(remaining);
    }

    updateCountdownSample();
    <% if action_name != 'edit' %>
      updateCountdown();
      $('#tweet').change(updateCountdown);
      $('#tweet').keyup(updateCountdown);
    <% end %>
    $('#deal_sample_tweet').change(updateCountdownSample);
    $('#deal_sample_tweet').keyup(updateCountdownSample);

    $('#deal_coupon_text').change(function(){
      var val = $(this).val();
      $('#deal_sample_tweet').val('I just got ' + val + ' from @<%= current_authorized_user.username %>. Get yours here: ');
      updateCountdownSample();
    });    
    
  });
  
</script>