<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'Offer' %><br />
    <%#= f.text_field :coupon_text, class: 'span3 form_input'%>
    
    <%= best_in_place @deal, :coupon_text, type: :input, class: 'span3', nil: 'Click to edit' %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: 'span6 form_input', rows: '6' %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.text_field :end_date, class: 'form_input' %>
  </div>
  <div class="field">
    <%= f.label :sample_tweet %><br />
    <%= f.text_field :sample_tweet, class: 'form_input' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>

  $(function(){
    $("#deal_end_date").datepicker({ dateFormat: 'yy-mm-dd', constrainInput: true, minDate: new Date() });
    
    $('.best_in_place').best_in_place();
    
    $('.best_in_place').hover(function(e){
      $(this).css('background-color', 'rgba(17,17,17,0.7)');
    }, function(e){
      $(this).css('background-color', 'white');
    });
    
  });

</script>
