<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>
      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field offer">
    <%= f.label :your_offer %>
    <%= f.text_field :coupon_text, class: 'offer_text', placeholder: 'Free Appetizer' %>
  </div>
  <div class="field description">
    <%= f.label :description_of_your_offer %>
    <%= f.text_area :description, rows: '6', class: 'deal_description', placeholder: 'Come in to our resturant for a free appetizer...' %>
  </div>
  <div class="field date">
    <%= f.label :offer_end_date %>
    <%= f.text_field :end_date, placeholder: 'When is your offer valid until', class: 'deal_end_date' %>
  </div>
  <div class="field">
    <%= f.label :suggested_tweet_for_your_customers_to_share %>
    <p class="explain_label">Your customer will tweet this to get your offer.<br>
                              A link to the deal will be added to the end of the tweet.</p>
    <%= f.text_area :sample_tweet, rows: '6', class: 'deal_tweet', placeholder: 'Enter a tweet for your customers to share' %>
    <p><span class="countdown_deal_sample_tweet">140</span>
  </div>
  <%= f.hidden_field :image_id %>
  <div class="actions">
    <%= f.submit 'Start Deal', id: 'start_deal' %>
  </div>
<% end %>

