<% if images.any? %>
  <p>Or pick from some you have already uploaded.</p>
<% else %>
  <p>Don't have a great image? No worries. Pick from some of our great ones!</p>
<% end %>
<ul class="images_to_select">
  <% if images.any? %>
    <% images.each do |image| %>
      <li>
        <%= image_tag image.image_url, id: "bg_image_#{image.id}" %>
        <p><%= link_to 'Preview', '#', class: 'preview' %> | <%= link_to 'Select', '#', class: 'select' %></p>
      </li>
    <% end %>
    <p>Don't have a great image? No worries. Pick from some of our great ones!</p>
    <li>
      <%= image_tag 'bg_bar2.jpg', id: 'bg_image_1' %>
      <p><%= link_to 'Preview', '#', class: 'preview' %> | <%= link_to 'Select', '#', class: 'select' %></p>
    </li>
  <% else %>
    <li>
      <%= image_tag 'bg_bar2.jpg', id: 'bg_image_1' %>
      <p><%= link_to 'Preview', '#', class: 'preview' %> | <%= link_to 'Select', '#', class: 'select' %></p>
    </li>
  <% end %>
</ul>

<script>

  $(function(){
    $('.preview').click(function(){
      $('.backstretch').remove();
      var url = $(this).parent().parent().children(':first-child').attr('src');
      $.backstretch(url);
      return false;
    });
    
    $('.select').click(function(){
      $('.backstretch').remove();
      var url = $(this).parent().parent().children(':first-child').attr('src');
      var image_id = $(this).parent().parent().children(':first-child').attr('id').toString().match(/\d+/)[0];
      $.backstretch(url);
      $('#myModal').modal('hide');
      $('#background_image_form').slideUp();
      $('.deal_container').delay(1000).slideDown('slow');
      $('#deal_image_id').val(image_id);
      return false;
    });
  });

</script>