<div class="background_image_form_container hide">
  <p>Want to change this background image? Click <%= link_to 'here', '', id: 'background_image_link' %></p>
</div>

<div class="deal_container">
    <div class="background_image_selection">
    <h3 id="myModalLabel">Let's start a new deal</h3>
    <p>Select your background image:</p>
        <%= s3_uploader_form post: images_url, as: "image[image_url]" do %>
          <%= file_field_tag :file, multiple: true %>
        <% end %>
    <script id="template-upload" type="text/x-tmpl">
      <div class="upload">
        {%=o.name%}
        <div class="progress"><div class="bar" style="width: 0%"></div></div>
      </div>
    </script>
    </p>
    <% if @images.any? %>
      <p>Or use a picture you've already uploaded:</p>
    <% else %>
      <p>Don't have a great pic? No worries. Use one of ours.</p>
    <% end %>
    <ul class="images_to_select">
      <% if @images.any? %>
        <% @images.each do |image| %>
          <li>
            <%= image_tag image.image_url, id: "bg_image_#{image.id}" %>
            <p><%= link_to 'Preview', '#', class: 'preview' %> | <%= link_to 'Select', '#', class: 'select' %></p>
          </li>
        <% end %>
        <p>Don't have a great pic? No worries. Use one of ours.</p>
        <li>
          <%= image_tag 'bg_bar2.jpg', id: 'bg_image_1' %>
          <p><%= link_to 'Preview', '#', class: 'preview' %> | <%= link_to 'Select', '#', class: 'select' %></p>
        </li>
      <% else %>
        <li>
          <%= image_tag 'bg_bar2.jpg', id: 'bg_image_1' %>
          <p><%= link_to 'Preview', '#', class: 'preview' %> | <%= link_to 'Select', '#', class: 'select' %></p>
        </li>
      <% end %>
    </ul>
    <%= render partial: 'images', locals: { images: @images } %>
  </div>
  <div class="deal_details_container hide">
  	<div class="deal_inner deal_details">
      <h1><%= current_authorized_user.business_name %></h1>
      <%= render 'form' %>
  	</div>
  	<div class="deal_inner hide deal_starter_tweet">
  	  <p>Congrats! Let's start this deal off with an awesome tweet.</p>
  	  <%= form_tag(tweet_url) do %>
        <%= text_area_tag :tweet, "#{root_url}deals/", rows: '6', class: 'deal_description', placeholder: 'Enter starter tweet' %>
        <p><span class="countdown">140</span>
        <%= submit_tag 'Tweet to start the deal!', class: 'btn btn-primary btn-large', id: 'tweet_button' %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<script>

  $(function(){

    $('#background_image_link').click(function(){
      $('.deal_details_container').slideUp();
      $('.background_image_form_container').slideUp();
      $('.background_image_selection').delay(500).show();
      return false;
    });

    $("#deal_end_date").datepicker({ dateFormat: 'yy-mm-dd', constrainInput: true, minDate: new Date() });

    $('.preview').click(function(){
      $('.backstretch').remove();
      var url = $(this).parent().parent().children(':first-child').attr('src');
      $.backstretch(url);
      return false;
    });

    $('.select').click(function(){
      $('.backstretch').remove();
      var url = $(this).parent().parent().children(':first-child').attr('src');
      var image_id = $(this).parent().parent().children(':first-child').attr('id').toString().match(/\d+/)[0];
      $.backstretch(url);
      $('.background_image_selection').slideUp();
      $('.deal_details_container').delay(500).show();
      $('.background_image_form_container').slideDown();
      $('#deal_image_id').val(image_id);
      return false;
    });

    $('#new_deal').submit(function(){
      $.ajax({ type: 'POST', url: '<%= j(deals_url) %>',
          data: { deal: { coupon_text: $('#deal_coupon_text').val(),
                  description: $('#deal_description').val(),
                  end_date: $('#deal_end_date').val(),
                  sample_tweet: $('#deal_sample_tweet').val(),
                  image_id: $('#deal_image_id').val() }
                },
          success: function(data){
            var val = $('#tweet').val();
            $('#tweet').val(val + data['id']);
            $('.deal_details').slideUp();
            $('.deal_starter_tweet').slideDown();
            $('#tweet').focus();
          },
          error: function(data){
            alert('Something went wrong!');
          },
      dataType: 'json'});
      return false;
    });

    function updateCountdown() {
      // 140 is the max message length
      var remaining = 140 - $('#tweet').val().length;
      if (remaining <= 10){
        $('.countdown').css('color', 'red');
      }
      else {
        $('.countdown').css('color', 'white');
      }
      if (remaining < 0){
        $('#tweet_button').attr('disabled', true);
      }
      else {
        $('#tweet_button').attr('disabled', false);
      }
      $('.countdown').text(remaining);
    }
    updateCountdown();
    $('#tweet').change(updateCountdown);
    $('#tweet').keyup(updateCountdown);

  });

</script>