<div class='well well-large'>
  <%= image_tag @deal.advertiser.image_url, class: 'banner' %>
  <p class="logo_show"><%= @deal.advertiser.username %></p>
  <p><%= @deal.coupon_text %></p>
  <% if @deal.coupons.for_user(current_authorized_user).any? %>
    <p><%= link_to 'Redeem', '', class: 'btn btn-danger btn-large' %></p>
  <% end %>
</div>

<div class="well">
  <% if @deal.coupons.for_user(current_authorized_user).empty? %>
    <p><b>Tweet this out to receive the deal:</b></p>
    <p><%= @deal.sample_tweet %></p>
    <% if session[:uid] %>
      <p><%= link_to 'Tweet', '', class: 'btn btn-primary btn-large' %></p>
    <% else %>
      <p><%= link_to 'Sign in to Twitter to Tweet', '/auth/twitter' %></p>
    <% end %>
  <% else %>
    <p>Conversation:</p>
    <% @deal.coupons.each do |coupon| %>
      <p><%= @deal.sample_tweet %> by <%= coupon.user.username %></p>
    <% end %>
  <% end %>
</div>
