<div class="deal_container">
	<div class="deal_inner">
		<h1><%= @deal.advertiser.business_name %></h1>
		<h2><%= @deal.coupon_text %></h2>
    <% if @coupon %>
      <p>Congratulations! You got this deal!</p>
      <p>Show this to <%= @deal.advertiser.business_name %> when you are ready to redeem it.</p>
    <% else %>
      <p><%= @deal.description %></p>
    <% end %>

    <p>This deal expires on <%= @deal.end_date.strftime('%B %e, %Y') %>.</p>
		<% if @coupon %>
      <% if @coupon.not_redeemed? && @deal.not_expired? %>
        <p><%= link_to 'Redeem', coupon_url(@coupon, redeemed: true), class: 'orange_btn redeem_btn', method: :put, alert: 'are you sure?' %></p>
      <% elsif @coupon.redeemed? %>
        <p>Thanks for using this coupon on <%= @coupon.updated_at.strftime('%B %e, %Y') %></p>
      <% else %>
        <p>Sorry. This deal expired on <%= @deal.end_date.strftime('%B %e, %Y') %></p>
      <% end %>
    <% end %>

    <% if @deal.coupons.for_user(current_authorized_user).empty? %>
      <% if session[:uid] %>
        <p class="send_tweet">Send a tweet to get this deal</p>
        <%= form_tag(coupons_url) do %>
          <%= text_area_tag :tweet, "#{@deal.sample_tweet} #{deal_url(@deal, referred: true)}" %>
          <%= hidden_field_tag :deal_id, @deal.id %>
          <div class="countdown">140</div>
          <%= submit_tag 'Tweet', id: 'tweet_button' %>
        <% end %>
      <% else %>
        <p class="send_tweet">Sign in to Twitter to get this deal</p>
        <p><%= link_to 'Sign in with Twitter', '/auth/twitter', class: 'signin_btn' %></p>
      <% end %>
    <% else %>
<!--       <p>Conversation:</p>
      <%# @deal.coupons.each do |coupon| %>
        <p><%#= @coupon.tweet %> by <%#= coupon.user.username %></p>
      <%# end %> -->
    <% end %>
	</div>
</div>

<script>

  $(function(){

    $.backstretch("<%= @deal.image.image_url %>");

    $('#tweet').focus();

    function createSelection(start, end, field) {
        // if ( field.createTextRange ) {
        //   var newend = end - start;
        //   var selRange = field.createTextRange();
        //   selRange.collapse(true);
        //   selRange.moveStart("character", start);
        //   selRange.moveEnd("character", newend);
        //   selRange.select();
        // }
        // else if( field.setSelectionRange ){
        //   field.setSelectionRange(start, end);
        // }
        // field.focus();
    }

    var target = document.getElementById('tweet');
    createSelection(0, <%= @deal.sample_tweet.length %>, target);

    function updateCountdown() {
      // 140 is the max message length
      var remaining = 140 - $('#tweet').val().length;
      if (remaining <= 10){
        $('.countdown').css('color', 'red');
      }
      else {
        $('.countdown').css('color', 'white');
      }
      if (remaining < 0){
        $('#tweet_button').attr('disabled', 'disabled');
      }
      else {
        $('#tweet_button').removeAttr('disabled');
      }
      $('.countdown').text(remaining);
    }
    updateCountdown();
    $('#tweet').change(updateCountdown);
    $('#tweet').keyup(updateCountdown);
  })

</script>