<div class='well well-large'>
  <%= image_tag @deal.advertiser.image_url, class: 'banner' %>
  <p class="logo_show"><%= @deal.advertiser.username %></p>
  <p><%= @deal.coupon_text %></p>
  
  <% if @coupon %>
    <% if @coupon.not_redeemed? && @deal.not_expired? %>
      <p><%= link_to 'Redeem', coupon_url(@coupon, redeemed: true), class: 'btn btn-danger btn-large', method: :put %></p>
    <% elsif @coupon.redeemed? %>
      <p>Thanks for using this coupon on <%= @coupon.updated_at.strftime('%D') %></p>
    <% else %>
        <p>Sorry. This deal expired on <%= @deal.end_date.strftime('%D') %></p>
    <% end %>
  <% end %>  
</div>

<div class="well">
  <% if @deal.coupons.for_user(current_authorized_user).empty? %>
    <p><b>Tweet this out to receive the deal:</b></p>
    <p><%= @deal.sample_tweet %></p>
    <% if session[:uid] %>
      <p><%= link_to 'Tweet', '', class: 'btn btn-primary btn-large' %></p>
    <% else %>
      <p><%= link_to 'Sign in to Twitter to Tweet', '/auth/twitter' %></p>
    <% end %>
  <% else %>
    <p>Conversation:</p>
    <% @deal.coupons.each do |coupon| %>
      <p><%= @deal.sample_tweet %> by <%= coupon.user.username %></p>
    <% end %>
  <% end %>
</div>
