<div class="navigation">
  <div class="navigation-inner container">
    <%= link_to "#{image_tag('podcast.svg', style: 'width: 30px;')} amped".html_safe, root_url, class: 'logo' %>
    <ul class="navigation-links">
      <li class="twitter_handle">@<%= current_authorized_user.username %></li>
      <% if current_authorized_user.advertiser? %>
        <li class="active"><%= link_to 'My Deals', deals_url %></li>
      <% else %>
        <li class="active"><%= link_to 'My Coupons', coupons_url %></li>
      <% end %>
      <li><%= link_to 'Sign Out', signout_url, method: :delete %></li>
    </ul>
  </div>
</div>