<!DOCTYPE html>
<html>
<head>
  <title>Pot o' Gold | Claim your gold</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=UnifrakturCook:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//use.typekit.net/mdj3nuu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

  <% if current_authorized_user %>
    <%= render 'layouts/header' %>
  <% end %>
  <%= yield %>

</body>
</html>
